{% extends 'base.html' %}


{% block title %}
    欢迎光临
{% endblock %}


{% block content %}
    {% if user|safe == "AnonymousUser" %}
        <a href="">登录</a>
        <a href="/users/register/">注册</a>
    {% else %}
        <h2>欢迎{{ user }}</h2>
    {% endif%}

    <!-- 准备一个容器 -->
    {% verbatim %}
    <div id="root">
        <h1>hello</h1> 
        <h1>{{name}}</h1>
    </div>
    {% endverbatim %}
{% endblock %}

{% block vue %}
    <script type="text/javascript">
        Vue.config.productionTip = false
        new Vue({
            el:'#root',
            data:{
                name:'尚硅谷' 
            }
        })
    </script>
{% endblock %}

